@{
    ViewData["Title"] = "Menú Principal ";
}

<div class="d-flex flex-column align-items-start" role="group" aria-label="Menu">
    <a href="@Url.Action("AgregarCliente", "Home")" class="btn btn-primary"> Clientes </a>
    <a href="@Url.Action("ObtenerTodosClientes", "Home")" class="btn btn-primary"> Lista de todos los clientes </a>

    <a href="@Url.Action("", "Home")" class="btn btn-warning"></a>
</div>